* {
    margin: 0;
    padding: 0;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.content {
    width: 21cm;
    margin: 0 auto;
    border: 1px solid #37474f;
}

.container {
    display: flex;
}

.content__left {
    width: 30%;
    background-color: #37474f;
}

.content__left .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #263238;
    color: #fff;
}

.content__left .avatar img {
    width: 60%;
    border-radius: 50%;
}

.content__left .avatar h3 {}

.content__left .avatar p {}

.content__left .left__info {
    padding: 1rem;
    color: #fff;
}

.left__info--items {
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.left__info--item {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.left__info--item span {
    width: 100%;
    padding-right: 2rem;
    box-sizing: border-box;
    word-wrap: break-word;
}

.left__info--item span a {
    color: #fff;
}

.left__info--1 {
    margin-top: 1rem;
}

.left__info--1 h3 {
    margin-bottom: 1rem;
}

.left__info--1 p {
    line-height: 1.8rem;
}

.line {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.line .line__start {
    width: 80%;
    background-color: #333;
    height: 10px;
}

.line .line__end {
    width: 20%;
    background-color: #fff;
    height: 10px;
}

.content__right {
    width: 70%;
    padding: 1.5rem;
}

.content__right--table {}

.table__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.table__title i {
    border-radius: 50%;
    background-color: #263238;
    color: #fff;
    padding: 0.7rem;
}

.table__subtitle {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1.5rem;
}

.table__subtitle--sub {
    margin-top: 0.5rem;
}

.table__subtitle .table__subtitle--desc {}

.table__subtitle .table__subtitle--time {}